* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-bottom: 10px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 25px;
}

label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.login-btn {
  background-color: red;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.separator {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.social-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google {
  background: white;
  border: 1px solid #ccc;
}

.apple {
  background: black;
  color: white;
}

.microsoft {
  background: #888;
  color: white;
}

.signin-logo {
  height: 17px;
  width: 17px;
}

.bottom-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.btn-text {
  padding-left: 10px;
}

.btn-group {
  margin: 20px 0;
}
