name: Deploy Fabric Workspace

on:
  workflow_dispatch:
    inputs:
      workspace_name:
        required: true
      capacity_name:
        required: true
      admin_email:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set Terraform env vars
        run: |
          echo "TF_VAR_client_id=${{ secrets.CLIENT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_client_secret=${{ secrets.CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "TF_VAR_tenant_id=${{ secrets.TENANT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_workspace_name=${{ github.event.inputs.workspace_name }}" >> $GITHUB_ENV
          echo "TF_VAR_capacity_name=${{ github.event.inputs.capacity_name }}" >> $GITHUB_ENV
          echo "TF_VAR_admin_email=${{ github.event.inputs.admin_email }}" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
