name: Deploy Fabric Workspace

on:
  workflow_dispatch:
    inputs:
      workspace_name:
        description: "Workspace Name"
        required: true
      capacity_name:
        description: "Capacity Name"
        required: true
      admin_object_id:
        description: "User Object ID"
        required: true


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Debug Environment Variables
        run: |
          echo "---- DEBUG START ----"
          echo "CLIENT_ID length: ${#TF_VAR_client_id}"
          echo "CLIENT_SECRET length: ${#TF_VAR_client_secret}"
          echo "TENANT_ID length: ${#TF_VAR_tenant_id}"
          echo "Workspace: $TF_VAR_workspace_name"
          echo "Capacity: $TF_VAR_capacity_name"
          echo "Admin Email: $TF_VAR_admin_email"
          echo "---- DEBUG END ----"

      - name: Export Terraform environment variables
        run: |
          echo "TF_VAR_client_id=${{ secrets.CLIENT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_client_secret=${{ secrets.CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "TF_VAR_tenant_id=${{ secrets.TENANT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_workspace_name=${{ github.event.inputs.workspace_name }}" >> $GITHUB_ENV
          echo "TF_VAR_capacity_name=${{ github.event.inputs.capacity_name }}" >> $GITHUB_ENV
          echo "TF_VAR_admin_object_id=${{ github.event.inputs.admin_object_id }}" >> $GITHUB_ENV



      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
